@using Microsoft.AspNetCore.Components.Web
@namespace Drawer.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <component type="typeof(HeadOutlet)" render-mode="Server" />

    <!-- blazor css bundling -->
    <link href="Drawer.web.styles.css" rel="stylesheet">

    <!--mudblazor -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <!--Aidblazor-->
    <link href="_content/Drawer.AidBlazor/AidBlazor.css" rel="stylesheet" />
    
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <!--blazor-->
    <script src="_framework/blazor.server.js"></script>
    <!--mudblazor start-->
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <!-- drawer -->
    <script src="js/file.js"></script>
    <script src="js/table.js"></script>

    <!-- canvas -->
    <script src="js/fabric.min.js"></script>
    <script src="js/canvas.js"></script>
</body>
</html>