[Unit]
Description=Drawer web green

[Service]
WorkingDirectory=/home/ubuntu/drawer/web/green
ExecStart=/usr/bin/dotnet Drawer.Web.dll DeploymentColor=green
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=drawer-web-green
User=www-data

Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://localhost:12000
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
