[Unit]
Description=Drawer web blue

[Service]
WorkingDirectory=/home/ubuntu/drawer/web/blue
ExecStart=/usr/bin/dotnet Drawer.Web.dll DeploymentColor=blue
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=drawer-web-blue
User=www-data

Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://localhost:11000
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
